asgiref
backcall
boto3
botocore
certifi
cffi
chardet
click
cycler
Cython
dataclasses
decorator
Django
djangorestframework
docutils
filelock
flashtext
Flask
Flask-Cors
idna
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
jmespath
joblib
kiwisolver
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
nltk
numpy
olefile
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pycocoevalcap
pycocotools
pycparser
Pygments
pyparsing
python-dateutil
pytorch-pretrained-bert
pytz
PyXB
regex
requests
s3transfer
sacremoses
scikit-learn
scipy
sentencepiece
six
scikit-learn
sqlparse
tensorboardX
threadpoolctl
tokenizers
torch
torchvision
tqdm
traitlets
transformers
urllib3
wcwidth
Werkzeug
